body {
    font-family: "Merriweather", serif;
    color: rgb(246, 160, 71);
    text-shadow: -2px 2px 0px rgb(192, 22, 34), 2px 2px 0px rgb(192, 22, 34), 2px -2px 0px rgb(192, 22, 34), -2px -2px 0px rgb(192, 22, 34);
}

/* MOBILE*/

@media screen and (max-width: 767px) {
    body {
        background-image: url(./background_images/nykthos.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #card-search {
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-image {
        display: block;
        text-align: center;
        width: 100%;
    }

    dl {
        display: inline;
    }

    /* SET SEARCH */
    #set {
        text-align: center;
        margin-bottom: 15%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: large;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 4px;
        margin: 5%;
        margin-top: 20%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px darkgrey;
        text-shadow: none;
    }
}

/* /////////////////////////////////////////////////// */
/* For Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        background-image: url(./background_images/ajani.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #card-search {
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-image {
        display: block;
        text-align: center;
        width: 100%;
    }

    dl {
        display: inline;
    }

    /* SET SEARCH */
    #set {
        text-align: center;
        margin-bottom: 15%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: large;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 8px;
        margin: 5%;
        margin-top: 20%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px darkgrey;
        text-shadow: none;
    }
}

/* For Laptop */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    body {
        background-image: url(./background_images/nighthawk.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #card-search {
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-container {
        text-align: center;
    }

    #card-image {
        display: inline-block;
    }

    dl {
        display: inline;
    }

    /*Card Hover*/

    #card-image:hover {
        transform: scale(1.5);
        top: 20%;
    }

    /* SET SEARCH */
    #set {
        text-align: center;
        margin-bottom: 5%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: larger;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 4px;
        margin: 5%;
        margin-top: 15%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px black;
        text-shadow: none;
    }
}

/* For Desktop */
@media screen and (min-width: 1920px) {
    body {
        background-image: url(./background_images/khalni.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #left {
        width: 50%;
        display: inline-block;
        float: left;
    }

    #right {
        width: 50%;
        display: inline-block;
        float: right;
    }

    #card-search {
        font-size: 700%;
        text-align: left;
        margin-left: 15%;
        margin-top: 5%;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-container {
        text-align: left;
        width: 50%;
    }

    #card-image {
        display: inline-block;
    }

    dl {
        display: inline;
    }

    #card-info {
        margin-left: 10%;
        font-size: x-large;
    }

    /*Card Hover*/

    #card-image:hover {
        transform: scale(2.5);
        top: 20%;
    }

    /* SET SEARCH */
    #set {
        text-align: center;
        font-size: 700%;
        margin-bottom: 5%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: larger;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 4px;
        margin: 5%;
        margin-top: 15%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px black;
        text-shadow: none;
    }
}

/*/////////////////////////      GENERAL       /////////////////////////////*/

/* .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
} */

/*/////////////////////////      LEFT        /////////////////////////////*/

/* #card-search {
    font-size: 700%;
    max-width: 100%;
    text-align: center;
}

.left-centered {
    position: absolute;
    top: 48%;
    left: 46%;
    width: 68%;
    height: 70%;
    text-align: left;
    transform: translate(-50%, -50%);
} */

/*    SEARCH BY CARD          */
/* form {
    display: inline-block;
}

dl {
    display: inline-block;
    width: 30%;
    font-size: xx-large;
} */

/*Card Hover*/
/* #card-image {
    display: inline-block;
    position: absolute;
    left: 35%;
    top: 10%;
}
#card-image:hover {
    transform: scale(3);
    left: 80%;
    top: 20%;
} */
/*/////////////////////////////////////////////////////////////////////*/

/*/ ///////////////////////  RIGHT SIDE  //////////////////////////////*/
/* .set-search {
    font-size: 700%;
    max-width: 100%;
    text-align: center;
}

.right {
    right: -1%;
}

.right-centered {
    position: absolute;
    top: 20%;
    left: 55%;
    text-align: center;
    transform: translate(-50%, -50%);
} */

/*CAROUSEL*/
/* .carousel-container {
    display: flex;
    justify-content: space-around;
} */

/*Image Container*/
/* .carousel-images {
    position: relative;
    height: 100%;
    border-radius: 10px;
    margin-top: 30%;
    padding: 10px;
    border: 5px solid goldenrod;
    background-color: white;
    cursor: pointer;
} */

/*Hidden Set Icons*/
/* .carousel-images img {
    display: none;
    height: 400px;
    width: 400px;
} */

/*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
/* .carousel-images img:first-of-type {
    display: block;
} */

/*CAROUSEL BUTTONS*/
/* .carousel-button {
    font-size: xx-large;
    position: relative;
    align-self: center;
    background: lightgray;
    color: black;
    padding: 10px;
    margin: 30%;
    margin-top: 60%;
    border-radius: 50%;
    text-align: center;
    box-shadow: 3px 3px darkgrey;
    text-shadow: none;
}

.carousel-button:hover {
    cursor: pointer;
    background: grey;
    box-shadow: 3px 3px black;
    color: white;
} */

/*THIS WILL BE WHERE THE CARD IMAGE GALLERY DISPLAYS*/
/* #bottom {
    height: 40%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 0px;
    margin: 0px;
} */

/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/* MENU */

/* :root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
  }
  
  #menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #menu-wrap .toggler {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  
  #menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    background-color: #335c81;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

/* HAMBURGER */
/* #menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  } */

/* Top and bottom lines */
/* #menu-wrap .hamburger > div:before,
  #menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
  }
  
  #menu-wrap .hamburger > div:before {
    top: 8px;
    width: 100%;
  } */

/* Moves line down */
/* #menu-wrap .hamburger > div:after {
    top: 15px;
  } */

/* Toggler animate */
/* #menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  } */

/* Rotate to X on click */
/* #menu-wrap .toggler:checked + .hamburger > div:before,
  #menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0px;
    transform: rotate(90deg);
  }
  
  #menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 250vw;
    height: 250vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  #menu-wrap .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  #menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  } */

/* SHOW MENU */
/* #menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  #menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  #menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  #menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
   */
