body {
    font-family: "Merriweather", serif;
    color: rgb(246, 160, 71);
    text-shadow: -2px 2px 0px rgb(192, 22, 34), 2px 2px 0px rgb(192, 22, 34), 2px -2px 0px rgb(192, 22, 34), -2px -2px 0px rgb(192, 22, 34);
}

/* MOBILE*/

@media screen and (max-width: 767px) {
    body {
        background-image: url(./background_images/nykthos.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #card-search {
        font-size: 300%;
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-image {
        display: block;
        text-align: center;
        width: 100%;
    }

    dl {
        display: inline;
    }

    /* SET SEARCH */
    #set {
        font-size: 300%;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: large;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 4px;
        margin: 5%;
        margin-top: 20%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px darkgrey;
        text-shadow: none;
    }
}

/* /////////////////////////////////////////////////// */
/* For Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        background-image: url(./background_images/ajani.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #card-search {
        font-size: 300%;
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-image {
        display: block;
        text-align: center;
        width: 100%;
    }

    dl {
        display: inline;
    }

    /* SET SEARCH */
    #set {
        font-size: 300%;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: -5%;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: large;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 8px;
        margin: 5%;
        margin-top: 20%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px darkgrey;
        text-shadow: none;
    }
}

/* For Laptop */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    body {
        background-image: url(./background_images/nighthawk.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #card-search {
        font-size: 500%;
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
    }

    /*    SEARCH BY CARD          */
    #card-container {
        text-align: center;
    }

    #card-image {
        display: inline-block;
    }

    dl {
        display: inline;
    }

    /*Card Hover*/

    #card-image:hover {
        transform: scale(1.5);
        top: 20%;
    }

    /* SET SEARCH */
    #set {
        font-size: 500%;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .set-search {
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: -5%;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20%;
    }

    /*Image Container*/
    .carousel-images {
        width: auto;
        border-radius: 10px;
        margin-top: 10%;
        padding: 10px;
        border: 5px solid goldenrod;
        background-color: white;
        cursor: pointer;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: larger;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 4px;
        margin: 5%;
        margin-top: 15%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px black;
        text-shadow: none;
        cursor: pointer;
    }
}

/* For Desktop */
@media screen and (min-width: 1920px) {
    body {
        background-image: url(./background_images/khalni.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #left {
        width: 50%;
        float: left;
    }

    #right {
        width: 50%;
        float: right;
        margin-top: -1%;
    }

    #card-search {
        font-size: 700%;
        text-align: center;
    }

    form {
        text-align: center;
        margin-bottom: 10%;
    }

    #submit {
        background-color: rgb(246, 160, 71);
        cursor: pointer;
    }

    /*    SEARCH BY CARD          */

    #card-image {
        position: relative;
        display: inline-block;
        margin-left: 42%;
    }

    #card-image:hover {
        transform: scale(2.5);
        left: 25%;
    }

    #card-info {
        margin-left: 5%;
        font-size: x-large;
        width: 30%;
    }

    /* SET SEARCH */
    #set {
        text-align: center;
        font-size: 700%;
    }

    .set-search {
        font-size: xx-large;
        text-align: center;
    }

    /*CAROUSEL*/
    .carousel-container {
        display: flex;
        justify-content: center;
    }

    /*Image Container*/
    .carousel-images {
        width: 15%;
        height: auto;
        border-radius: 10px;
        margin-top: 5%;
        padding: 20px;
        border: 10px solid goldenrod;
        background-color: white;
        cursor: pointer;
    }

    /*Hidden Set Icons*/
    .carousel-images img {
        display: none;
        height: auto;
        width: 100%;
    }

    /*WILL BECOME A BUTTON WHEN I IMPLEMENT THE CARD GALLERY*/
    .carousel-images img:first-of-type {
        display: block;
    }

    /*CAROUSEL BUTTONS*/
    .carousel-button {
        font-size: xx-large;
        position: relative;
        align-self: center;
        background: rgb(246, 160, 71);
        color: black;
        padding: 20px;
        margin: 5%;
        margin-top: 10%;
        border-radius: 50%;
        text-align: center;
        box-shadow: 5px 5px black;
        text-shadow: none;
        cursor: pointer;
    }
}
